*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50a4ee;
    height: 100vh;
    flex-direction: column;
}
.form{
    width: 450px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}
.login{
    padding: 30px;
}
.input{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    position: relative;
}
input[type="text"], input[type="button"], input[type="password"]{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}
input[type="text"]:focus, input[type="password"]:focus{
    border-bottom-color: #50a4ee;
}
input[type="button"]{
    background-color: #50a4ee;
}
.button{
    margin-top: 30px;
}
.button input{
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #1370cd;
}
i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 20px;
}
input[type="text"]:focus ~ i , input[type="password"]:focus ~ i{
    color: #50a4ee;
}
.check{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.signup{
    margin-top: 30px;
    text-align: center;
}
.signup *{
    margin: 0 5px;
}